<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Url" value="http://172.16.65.104:80/shop/api"/>
    <add key="Username" value="apiuser"/>
    <add key="ApiKey" value="ag5tA9KQVKwF1ANVJPFBplLVgSFarIvKFbWih69V"/>
  </appSettings>
</configuration>